* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
}

header img {
  height: 100px;
}

video {
  position: fixed;
  bottom: 0;
  right: 0;
}

nav {
  background-color: green;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

li:nth-child(even):hover {
  animation: horizontal-shaking 1s 1 alternate-reverse;
}

li:nth-child(odd):hover {
  animation: tilt-shaking 1s 1 alternate;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

main {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  grid-template-areas:
    "banner banner banner"
    "about special owner";
  justify-items: center;
  width: 100%;
  margin-bottom: 50px;
  min-height: 100%;
}

article > h1 {
  text-align: center;
  text-shadow: 2px 2px 5px rgb(55, 53, 177);
}

article p {
  opacity: 0;
  text-align: center;
  transition: opacity 1s ease-in-out;
}

article > h1:hover {
  animation: tilt-shaking 1s infinite;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

article > h1:hover + p {
  opacity: 1;
  text-align: center;
  transition: opacity 1s linear;
}

.banner {
  grid-area: banner;
}

.banner img {
  height: 300px;
}

.banner:hover {
  transform: rotateZ(360deg);
  transition: 5s;
}

.about {
  grid-area: about;
}

.special {
  grid-area: special;
}

.owner {
  grid-area: owner;
}

footer {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 5px;
  background-color: green;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
}

footer > img {
  width: 20px;
}
