* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header img {
  width: 100%;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
}

main {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "banner banner banner"
    "about special owner";
  justify-items: center;
}

.banner {
  grid-area: banner;
}

.about {
  grid-area: about;
}

.special {
  grid-area: special;
}

.owner {
  grid-area: owner;
}

footer {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

footer > img {
  width: 30px;
}
