* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
}

header img {
  width: 100%;
}

nav {
  background-color: green;
  width: 100%;
  padding: 30px auto;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

main {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  grid-template-areas:
    "banner banner banner"
    "about special owner";
  justify-items: center;
  width: 100%;
  min-height: 100%;
  margin-bottom: 50px;
}

article > h1 {
  text-align: center;
}

article p {
  visibility: hidden;
}

article > h1:hover + p {
  visibility: visible;
  text-align: center;
}

.banner {
  grid-area: banner;
}

.banner img {
  height: 300px;
}

.about {
  grid-area: about;
}

.special {
  grid-area: special;
}

.owner {
  grid-area: owner;
}

footer {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 5px;
  background-color: green;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer > img {
  width: 20px;
}
